.projects-section {
    padding-top: 8rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.project-card {
    display: flex;
    flex-direction: row;
    background-color: #183045;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    align-items: center;
    padding: 25px;
    height: 250px;
    overflow: hidden;
}

.image-wrapper {
    width: 40%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.project-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.project-text-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 2.5rem;
}

.title-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.botons-container {
    display: flex;
    align-items: center;
}

.icon-button {
    width: 60px;
    height: 60px;
    background-color: #314558;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.2s ease;
    color: white;
    margin-left: 8px;
    font-size: 2rem;
}

.icon-button:hover {
    background-color: #08233b;
}

.title-card-text {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;

    background-image: linear-gradient(#fff, #878787);
    color:transparent;
    background-clip: text;
}

.description-card-text {
    color: #A5AEB7;
    text-align: justify;
}
